<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="db"
            connectionString="Server=.;Database=med_admin;User ID=sa;Password=masterkey"
            providerName="System.Data.SqlClient" />
    </connectionStrings>  
</configuration>