/* Folha de Estilo baby */

.arte-principal{
    background-image: url("../img/oquee.jpg");
    height: 500px;

}

.espaco{
    padding-left: 40px;
    padding-top: 75px;
}

.pre-titulo{
    letter-spacing: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}
.titulo{
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    color: #777777;
}

.texto{
    font-family: 'Open Sans', sans-serif;
}

.texto-artigo{
    -moz-column-count: 2;
    -webkit-column-count: 2;
}

.rodape{
    background-color: #ffffff;
    box-shadow:0px -10px 50px #cccccc;
}