@import url(https://fonts.googleapis.com/css?family=Montserrat);

.fonte-titulo{
    font-family: "Metrophobic", Arial, serif;
    font-size: 2em;
}

.fonte-menu{
    font-family: "Metrophobic", Verdana, bold;
    font-size: 1.5em;
}

.menu-lateral{
    background-color: #383838;
    max-height:none;
}

.btn-danger-med{
    color:#fff;
    background-color:rgba(255, 7, 0, 0.73);
    border-style: 2px solid #fff;
}

.btn-danger-med a:hover{
    color:#000;
    background-color:rgba(255, 7, 0, 0.73);
    border-style: 2px solid #000;

}

.botao {
    color: darkorange;
}

.well-novo{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-image: url(../imagens/topo-artigo-1.jpg);
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.well-home{
/*    padding: 5px;*/
/*    background-color: #FFFF53;*/
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.well-form{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: rgb(253, 253, 253);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 10px 10px rgb(241, 241, 241);
}

.form-soli{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    /* background-image: none; */
    border-style: hidden;
    border-bottom-style: inset;
    border-radius: 4px;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
    /* -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; */
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.btn-btn-legal {
  color: #f6ee14;
  background-color: #373737;
  border-color: #373737;
}
.btn-btn-legal:focus,
.btn-btn-legal.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.btn-btn-legal:hover {
  color: #fff;
  background-color: firebrick;
  border-color:firebrick;
}
.btn-btn-legal:active,
.btn-btn-legal.active,
.open > .dropdown-toggle.btn-btn-legal {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-btn-legal:active:hover,
.btn-btn-legal.active:hover,
.open > .dropdown-toggle.btn-btn-legal:hover,
.btn-btn-legal:active:focus,
.btn-btn-legal.active:focus,
.open > .dropdown-toggle.btn-btn-legal:focus,
.btn-btn-legal:active.focus,
.btn-btn-legal.active.focus,
.open > .dropdown-toggle.btn-btn-legal.focus {
  color: #fff;
    background-color: #373737;
  border-color: #373737;
}
.btn-btn-legal:active,
.btn-btn-legal.active,
.open > .dropdown-toggle.btn-btn-legal {
  background-image: none;
}
.btn-btn-legal.disabled,
.btn-btn-legal[disabled],
fieldset[disabled] .btn-btn-legal,
.btn-btn-legal.disabled:hover,
.btn-btn-legal[disabled]:hover,
fieldset[disabled] .btn-btn-legal:hover,
.btn-btn-legal.disabled:focus,
.btn-btn-legal[disabled]:focus,
fieldset[disabled] .btn-btn-legal:focus,
.btn-btn-legal.disabled.focus,
.btn-btn-legal[disabled].focus,
fieldset[disabled] .btn-btn-legal.focus,
.btn-btn-legal.disabled:active,
.btn-btn-legal[disabled]:active,
fieldset[disabled] .btn-btn-legal:active,
.btn-btn-legal.disabled.active,
.btn-btn-legal[disabled].active,
fieldset[disabled] .btn-btn-legal.active {
  background-color: #373737;
  border-color: #373737;
}
.btn-btn-legal .badge {
  color: #373737;
  background-color: #fff;
}

.overlay:hover {
opacity: 1;
cursor: pointer;
}
.overlay {
position: absolute;
width: 100%;
height: 100%;
opacity: 0;
transition: all 0.35s ease;
-webkit-transition: all 0.35s ease;
-moz-transition: all 0.35s ease;
-o-transition: all 0.35s ease;
-ms-transition: all 0.35s ease;
border-radius: inherit;
left: 0;
top: 0;
bottom: 0;
right: 0;
}
.overlay {
background-color: rgba(243, 24, 24, 0.75);
}

.artigo-principal{
    background-image: url(../imagens/artigo--2.jpg);
}

h2.titulo-principal{
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    color:#E8E50D;
    padding: 5px;
}

.sub-titulo-principal{
    color: #CD0000;
}

p.sub-texto-principal{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: #fff;
}

p.texto-normal{
    font-family: 'Montserrat', sans-serif;
    color: #383838;
}

.casos-titulo{
    font-family: 'Exo 2', sans-serif;
    color: #424242;
}

.list-group-item-casos{
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #2B2B2B;
    border: 1px solid #383838;
    color: yellow;
}

.topo{
    min-height: 20px;
    padding: 29px;
    margin-bottom: 20px;
    background-image: url(../imagens/topo-bg.png);
    background-repeat: repeat-x;
    height:80px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.30);
}

.cor-link{
    width: auto;
    height: auto;
    padding-bottom: 34px;
}

.cor-link:hover{
    width: auto;
    height: auto;
    background-color:#D61C1C;
}

/*
.navbar-nav>li>a{
    padding-top:15px;
    padding-bottom:15px;
    border-bottom-style: solid;
    border-bottom-color: #fff;
}*/

.animated-flipOutX,
.animated-flipOutY{
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
}

.subnavbar {
    margin-bottom: 2.5em;
}

.subnavbar-inner {
    height: 90px;
    background: #E8E8E8;
    border-bottom: 3px solid #E02919;
    padding: 10px;
}

.subnavbar .container > ul {
    display: inline-block;
    height: 80px;
    padding: 0;
    margin: 0;
}

.subnavbar .container > ul > li {
    float: left;
    min-width: 90px;
    height: 60px;
    padding: 15px;
    margin: 0;
    text-align: center;
    list-style: none;
}

/*
.subnavbar .container > ul > li.active > a {
    border-bottom: 50px solid #FFF80E;
    color: #FFF80E;
    text-decoration: none;
}
*/
.subnavbar .container > ul > li > a:hover {
    border-bottom: 35px solid #BDBB0E;
    color: #BDBB0E;
    text-decoration: none;
    transition: 0.2s;
}

.subnavbar .container > ul > li.active > a {
    border-bottom: 35px solid #E02919;
    color: #E02919;
    text-decoration: none;
    transition: 0.2s;
}














