/* Folha de Estilo baby */

.arte-principal{
    background-image: url("../img/oquee.jpg");
    height: 500px;

}

.arte-principal-artigo {
    background-image: url("https://visualhunt.com/photos/m/2/knowledge-book-library-glasses-textbook.jpg"); 
    background-size: cover;
    height: 400px;
}

.espaco{
    padding-left: 40px;
    padding-top: 75px;
}

.pre-titulo{
    letter-spacing: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}
.titulo{
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    color: #777777;
}

.texto{
    font-family: 'Open Sans', sans-serif;
}

.texto-artigo{
    -moz-column-count: 2;
    -webkit-column-count: 2;
}

.rodape{
    background-color: #ffffff;
    box-shadow:0px -10px 50px #cccccc;
}

.header-bg{
    background: linear-gradient( rgba(81, 0, 0, 0.8), rgb(143, 12, 12) ), url(../img/bg.jpg);
/*  linear-gradient( rgba(0, 0, 0, 0.78), rgb(0, 0, 0) ),*/
    background-attachment: fixed;
    background-position:center;
    background-size: cover;
    width: 100%;
    height: auto;
    margin-top:-30px;
}

.header-box{
    padding: 20px;
    color: aliceblue;
    background: linear-gradient( rgb(44, 16, 80), rgba(0, 0, 0, 0) );
}

.header-box ul{
    list-style: none;
}

.thumbnail .caption h3{
    color: #777777;
    font-size: 3em;
    font-weight:600;
    text-transform: uppercase;
}

.thumbnail .caption p{
    color: #999;    
}

.titulo-artigo{
    color: #220200;
    font-size: 2em;
    font-weight:600;
    text-transform: uppercase;
}

.void{
    height:80px;
}